@use "../abstracts";

.mt-3 {
    margin-top: 30px;
}

// this call placeholder selector in sass
%flexItemsCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

// two options to using
%lineClampNoOption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

%lineClampHasOptions {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @supports (-webkit-line-clamp: 1) or
    (line-clamp: 1) {
        -webkit-line-clamp: 1
    }
}

body {
    position: relative;
    // background-image: url("../../assets/img/background/page-bg-1.jpg");
    // background-color: rgb(255, 255, 255);
    // background-position: 50%;
    // background-size: cover;
    // background-repeat: no-repeat;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0.08;
        background-image: radial-gradient(#ffffff40, #fff0 40%), radial-gradient(hsl(44, 100%, 66%) 30%, hsl(338, 68%, 65%), hsla(338, 68%, 65%, .4) 41%, transparent 52%), radial-gradient(hsl(272, 100%, 60%) 37%, transparent 46%), linear-gradient(155deg, transparent 65%, hsl(142, 70%, 49%) 95%), linear-gradient(45deg, #0065e0, #0f8bff);
        background-size: 200% 200%, 285% 500%, 285% 500%, cover, cover;
        background-position: bottom left, 109% 68%, 109% 68%, center, center;
    }
    
}

.page-wrap {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 240px;
    padding-bottom: 120px;
}

.page-wrap.home {
    padding-top: 50px;
    padding-bottom: 80px;
}

.personal-info {
    position: sticky;
    top: 20%;

    padding: 40px 30px;
    border-radius: 20px;
    background: #fff;

    text-align: center;

    @include abstracts.screen(xl) {
        padding: 15px 15px;
    }

    &__img {
        width: 240px;
        height: 240px;
        border-radius: 20px;
        overflow: hidden;
        margin: -180px auto 21px;

        @include abstracts.screen(xl) {
            width: 200px;
            height: 200px;
            margin: -135px auto 21px;
        }

        @include abstracts.screen(lg) {
            width: 280px;
            height: 280px;
            margin: -180px auto 21px;
        }

        @include abstracts.screen(md) {
            width: 260px;
            height: 260px;
            margin: -165px auto 21px;
        }

        &-icon {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        font-size: 2.6rem;
        font-family: 'Roboto Slab', serif;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__bio {
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 500;

        padding: 4px 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        background: #f3f6f6;
    }

    &__socials {
        @extend %flexItemsCenter;
        gap: 12px;
    }

    &__social {
        &-facebook {
            filter: brightness(0) saturate(100%) invert(36%) sepia(51%) saturate(3640%) hue-rotate(211deg) brightness(99%) contrast(88%);
        }

        &-instagram {
            filter: brightness(0) saturate(100%) invert(44%) sepia(85%) saturate(1935%) hue-rotate(309deg) brightness(86%) contrast(91%);
        }

        &-linkedin {
            filter: brightness(0) saturate(100%) invert(25%) sepia(12%) saturate(4416%) hue-rotate(182deg) brightness(91%) contrast(90%);
        }

        &-facebook, &-instagram, &-linkedin {
            transition: filter 0.25s;
        }
    }

    &__social-link {
        @extend %flexItemsCenter;
        width: 40px;
        height: 40px;
        background: #f3f6f6;
        border-radius: 8px;

        &:hover {
            background: linear-gradient(97deg, #fa5252, #dd2476);

            img {
                filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(0%) hue-rotate(152deg) brightness(114%) contrast(100%);
            }
        }
    }

    &__contact {
        margin-top: 30px;
        background: #f3f6f6;
        border-radius: 16px;
        padding: 35px 30px;

        @include abstracts.screen(xl) {
            padding: 15px 15px;
        }
    }
    
    &__item {
        display: flex;
        align-items: center;
        gap: 12px;

        &-left {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 42px;
            height: 42px;
            border-radius: 8px;
            background: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, .08);
            flex-shrink: 0;

            @include abstracts.screen(xl) {
                width: 40px;
                height: 40px;
                border-radius: 6px;
            }

            &:hover {
                background: linear-gradient(97deg, #fa5252, #dd2476);

                img {
                    filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(0%) hue-rotate(152deg) brightness(114%) contrast(100%);
                }
            }
        }

        &-phone {
            filter: brightness(0) saturate(100%) invert(27%) sepia(47%) saturate(4508%) hue-rotate(315deg) brightness(93%) contrast(84%);
        }

        &-email {
            filter: brightness(0) saturate(100%) invert(74%) sepia(38%) saturate(316%) hue-rotate(134deg) brightness(86%) contrast(87%);
        }

        &-location {
            filter: brightness(0) saturate(100%) invert(57%) sepia(19%) saturate(1319%) hue-rotate(296deg) brightness(96%) contrast(97%);
        }

        &-calendar {
            filter: brightness(0) saturate(100%) invert(57%) sepia(13%) saturate(2365%) hue-rotate(224deg) brightness(101%) contrast(87%);
        }

        &-phone, &-email, &-location, &-calendar {
            transition: filter 0.25s;
        }

        &-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        &-title {
            font-size: 1.4rem;

            @include abstracts.screen(xl) {
                font-size: 1.3rem;
            }
        }

        &-desc {
            font-size: 1.6rem;

            @include abstracts.screen(xl) {
                font-size: 1.5rem;
            }
        }

        &-separate {
            width: 100%;
            height: 1px;
            background: #e4e4e4;
            margin: 15px 0;
        }
    }
}

.text-right {
    text-align: right;
    margin-bottom: 40px;

    @include abstracts.screen(lg) {
        margin-top: 40px;
        text-align: initial;
    }
}

.navbar {
    display: inline-block;
    width: 521px;
    height: 120px;
    background: #fff;
    border-radius: 16px;

    @include abstracts.screen(xl) {
        width: 480px;
        height: 110px;
    }

    @include abstracts.screen(lg) {
        width: 100%;
    }

    @include abstracts.screen(sm) {
        height: 85px;
    }

    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 84px;
        height: 84px;
        font-size: 1.6rem;
        background: #f3f6f6;
        border-radius: 12px;
        gap: 15px;
        user-select: none;

        transition: color 0.25s;

        @include abstracts.screen(xl) {
            width: 70px;
            height: 70px;
            font-size: 1.4rem;
            gap: 10px;
        }

        @include abstracts.screen(sm) {
            width: 60px;
            height: 60px;
            font-size: 1.2rem;
            gap: 5px;
        }

        &--active {
            color: #fff;
            border-radius: 12px;
            background: linear-gradient(97deg, #fa5252, #dd2476);

            .navbar__icon {
                filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(0%) hue-rotate(152deg) brightness(114%) contrast(100%);
            }
        }

        &:not(&--active):hover {
            color: #fff;
            border-radius: 12px;
            background: linear-gradient(97deg, #fa5252, #dd2476);
            cursor: pointer;

            .navbar__icon {
                filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(0%) hue-rotate(152deg) brightness(114%) contrast(100%);
            }
        }
    }

    &__icon {
        transition: filter 0.25s;

        @include abstracts.screen(sm) {
            width: 18px;
            height: 18px;
        }
    }
}

.contents {
    padding-bottom: 60px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content {
    display: none;

    &--active {
        display: block;
    }

    &-wrap {
        padding: 60px 60px 0 60px;

        @include abstracts.screen(xxl) {
            padding: 60px 30px 0 30px;
        }

        @include abstracts.screen(xl) {
            padding: 60px 20px 0 20px;
        }
    }

    &-wrap + &-wrap {
        padding: 0 60px 0 60px;

        @include abstracts.screen(xxl) {
            padding: 0 30px 0 30px;
        }

        @include abstracts.screen(xl) {
            padding: 0 20px 0 20px;
        }
    }

    &__sub-heading-2 {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 35px;
        font-size: 4rem;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 700;
        line-height: 1.6;
        &:after {
            content: "";
            position: absolute;
            width: 219px;
            height: 3px;
            background: linear-gradient(97deg, #fa5252, #dd2476);;
            border-radius: 5px;
            left: 145px;

        }
        &--resume:after {
            left: 180px;
        }

        @include abstracts.screen(sm) {
            font-size: 2.5rem;
            &::after {
                width: 170px;
                left: 130px;
            }

            &--resume:after {
                width: 170px;
                left: 130px;
            }
        }
    }

    &__sub-heading-3 {
        margin-bottom: 30px;
        font-size: 2.4rem;
    }

    &__sub-heading-4 {
        margin-bottom: 10px;
        font-size: 1.9rem;
        line-height: 1.7;
        font-weight: 500;

        @include abstracts.screen(xxl) {
            font-size: 1.7rem;
        }

        @include abstracts.screen(xl) {
            font-size: 1.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__desc {
        margin-bottom: 30px;
        font-size: 1.6rem;
        line-height: 1.6;
        color: #44566c;

        @include abstracts.screen(xxl) {
            font-size: 1.5rem;
        }

        &:last-child {
            margin-bottom: 30px;
        }

    }
}

.content-what-i-do {
    &__item {
        display: flex;
        height: 100%;
        padding: 20px;
        gap: 20px;
        background: #eef5fa;
        border-radius: 12px;
        @include abstracts.screen(xxl) {
            padding: 18px;
            gap: 15px;
        }
        &--color {
            background: #fff4f4;
        }

        &-left {
            &-wrap-sass {
                filter: brightness(0) saturate(100%) invert(68%) sepia(13%) saturate(4979%) hue-rotate(292deg) brightness(85%) contrast(89%);
            }
            
            &-wrap-design {
                filter: brightness(0) saturate(100%) invert(46%) sepia(64%) saturate(612%) hue-rotate(233deg) brightness(101%) contrast(104%);
            }

            &-wrap-security {
                filter: brightness(0) saturate(100%) invert(43%) sepia(91%) saturate(275%) hue-rotate(92deg) brightness(93%) contrast(88%);
            }

            &-wrap-html,
            &-wrap-code {
                filter: brightness(0) saturate(100%) invert(70%) sepia(44%) saturate(5870%) hue-rotate(190deg) brightness(101%) contrast(105%);
            }

            &-wrap-database {
                filter: brightness(0) saturate(100%) invert(59%) sepia(26%) saturate(1517%) hue-rotate(9deg) brightness(99%) contrast(101%);
            }

            &-wrap-pen {
                filter: brightness(0) saturate(100%) invert(31%) sepia(80%) saturate(381%) hue-rotate(155deg) brightness(96%) contrast(86%);
            }
            
            &-wrap-chart {
                filter: brightness(0) saturate(100%) invert(61%) sepia(20%) saturate(1510%) hue-rotate(70deg) brightness(95%) contrast(92%);
            }

            &-wrap-integrate {
                filter: brightness(0) saturate(100%) invert(45%) sepia(55%) saturate(1591%) hue-rotate(314deg) brightness(101%) contrast(89%);
            }

            &-wrap-learn {
                filter: brightness(0) saturate(100%) invert(25%) sepia(10%) saturate(6296%) hue-rotate(194deg) brightness(107%) contrast(103%);
            }

            &-wrap-html, &-wrap-sass, &-wrap-design, &-wrap-security, &-wrap-code, &-wrap-database, &-wrap-pen, &-wrap-chart, &-wrap-integrate, &-wrap-learn {
                @include abstracts.screen(xxl) {
                    width: 35px;
                    height: 35px;
                }

                @include abstracts.screen(xl) {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        &-right {
            &-desc {
                font-size: 1.6rem;
                line-height: 1.6;
                color: #44566c;

                @include abstracts.screen(xxl) {
                    font-size: 1.5rem;
                }
            }

            &-desc + &-desc {
                margin-top: 10px;
            }
        }
    }
}


.resume {
    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        gap: 10px;

        &-left-icon {
            filter: brightness(0) saturate(100%) invert(59%) sepia(66%) saturate(1147%) hue-rotate(316deg) brightness(95%) contrast(99%);
        }

        &-right {
            font-size: 2.6rem;
            font-family: 500;
            
            @include abstracts.screen(xxl) {
                font-size: 2.4rem;
            }
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #eef5fa;
        padding: 20px;
        border-radius: 12px;

        &--color {
            background: #fff4f4;
        }

        &-exp {
            display: block;
            font-size: 1.4rem;
            line-height: 1;
            margin-bottom: 17px;

            @extend %lineClampNoOption;
        }

        &-sub-heading {
            font-size: 1.8rem;
            line-height: 1.6;
            color: #0f172a;
            margin-bottom: 17px;
            @extend %lineClampHasOptions;
        }

        &-desc {
            font-size: 1.6rem;
            line-height: 1.6;
            margin-bottom: 0;
            @extend %lineClampHasOptions;
        }
    }

    &__card + &__card {
        margin-top: 30px;

        @include abstracts.screen(xxl) {
            margin-top: 15px;
        }
    }
}

.portfolio {
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__item {
        &--active .portfolio__content {
            display: block;
        }

        &--active .portfolio__arrow-right {
            rotate: 90deg;
        }

        &:last-child .portfolio__preview {
            margin-bottom: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px 15px;
        border-radius: 8px;
        font-size: 1.8rem;
        line-height: 2;
        background: #eef5fa;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__arrow-right {
        transition: rotate 0.25s;
    }

    &__content {
        display: none;
        margin-top: 20px;
    }

    &__card {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        &-img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: contain;
        }
    }

    &__preview {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0 20px;

        @include abstracts.screen(md) {
            margin: 20px 0 10px;
        }

        &-link {
            display: flex;
            align-items: center;

            padding: 15px 50px;
            gap: 10px;

            font-size: 1.6rem;
            font-weight: 600;
            background: #eef5fa;
            border-radius: 8px;
            transition: background-color 0.25s;

            &:hover {
                background: #e5eef7;
            }
        }
    }
}

// mycv
.cv-info {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.cv-info__sub-heading-2 {
    font-size: 3.5rem;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    color: #004aac;
    margin-bottom: 10px;
}

.cv-title {
    font-size: 2.5rem;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    color: #004aac;
}

.mt-10 {
    margin-top: 10px;
}

.cv-education__desc,
.cv-work-experience__desc,
.cv-info__desc {
    font-size: 1.6rem;
    line-height: 1.5;
}

.cv-education__desc__list,
.cv-work-experience__list,
.cv-technical__list {
    list-style: disc inside;
    text-indent: 25px;
}

.cv-work-experience__sub-list,
.cv-technical__sub-list {
    list-style: circle inside;
    text-indent: 50px;
}

.cv-technical__item,
.cv-work-experience__item {
    text-indent: -23px;
    padding-left: 50px;
    line-height: 1.5;
}

.cv-education-name,
.cv-company-name {
    display: flex;
    justify-content: space-between;
}