/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent; /* remove tap highlight on mobile */
}

:root {
  --gradient-to: #eb4853;
  --gradient-from: #d91b6e;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* reset tags style default */
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  background: transparent;
}

a, label, img, button, input, textarea, select {
  outline: none;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit; /* remove default styling of tag a when displayed on mobile */
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: 600;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-top: calc(var(--grid-gutter-y) * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0 {
  --grid-gutter-x: 0px;
  --grid-gutter-y: 0px;
}

.gx-0 {
  --grid-gutter-x: 0px;
}

.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1 {
  --grid-gutter-x: 7.5px;
  --grid-gutter-y: 7.5px;
}

.gx-1 {
  --grid-gutter-x: 7.5px;
}

.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2 {
  --grid-gutter-x: 15px;
  --grid-gutter-y: 15px;
}

.gx-2 {
  --grid-gutter-x: 15px;
}

.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3 {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 30px;
}

.gx-3 {
  --grid-gutter-x: 30px;
}

.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4 {
  --grid-gutter-x: 45px;
  --grid-gutter-y: 45px;
}

.gx-4 {
  --grid-gutter-x: 45px;
}

.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5 {
  --grid-gutter-x: 90px;
  --grid-gutter-y: 90px;
}

.gx-5 {
  --grid-gutter-x: 90px;
}

.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.personal-info__social-link, .personal-info__socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume__card-exp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resume__card-desc, .resume__card-sub-heading {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@supports (-webkit-line-clamp: 1) or (line-clamp: 1) {
  .resume__card-desc, .resume__card-sub-heading {
    -webkit-line-clamp: 1;
  }
}

body {
  background-image: url("../../assets/img/background/page-bg-1.jpg");
  background-color: rgb(255, 255, 255);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-wrap {
  width: 100vw;
  height: 100vh;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 240px;
  padding-bottom: 120px;
}

.page-wrap.home {
  padding-top: 50px;
  padding-bottom: 80px;
}

.personal-info {
  position: sticky;
  top: 20%;
  padding: 40px 30px;
  border-radius: 20px;
  background: #fff;
  text-align: center;
}
@media (max-width: 1199.98px) {
  .personal-info {
    padding: 15px 15px;
  }
}
.personal-info__img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  overflow: hidden;
  margin: -180px auto 21px;
}
@media (max-width: 1199.98px) {
  .personal-info__img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 991.98px) {
  .personal-info__img {
    width: 280px;
    height: 280px;
    margin: -220px auto 21px;
  }
}
@media (max-width: 767.98px) {
  .personal-info__img {
    width: 260px;
    height: 260px;
    margin: -210px auto 21px;
  }
}
.personal-info__img-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.personal-info__name {
  font-size: 2.6rem;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  margin-bottom: 20px;
}
.personal-info__bio {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 4px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #f3f6f6;
}
.personal-info__socials {
  gap: 12px;
}
.personal-info__social-facebook {
  filter: brightness(0) saturate(100%) invert(36%) sepia(51%) saturate(3640%) hue-rotate(211deg) brightness(99%) contrast(88%);
}
.personal-info__social-instagram {
  filter: brightness(0) saturate(100%) invert(44%) sepia(85%) saturate(1935%) hue-rotate(309deg) brightness(86%) contrast(91%);
}
.personal-info__social-linkedin {
  filter: brightness(0) saturate(100%) invert(25%) sepia(12%) saturate(4416%) hue-rotate(182deg) brightness(91%) contrast(90%);
}
.personal-info__social-facebook, .personal-info__social-instagram, .personal-info__social-linkedin {
  transition: filter 0.25s;
}
.personal-info__social-link {
  width: 40px;
  height: 40px;
  background: #f3f6f6;
  border-radius: 8px;
}
.personal-info__social-link:hover {
  background: linear-gradient(97deg, #fa5252, #dd2476);
}
.personal-info__social-link:hover img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(0%) hue-rotate(152deg) brightness(114%) contrast(100%);
}
.personal-info__contact {
  margin-top: 30px;
  background: #f3f6f6;
  border-radius: 16px;
  padding: 35px 30px;
}
@media (max-width: 1199.98px) {
  .personal-info__contact {
    padding: 15px 15px;
  }
}
.personal-info__item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.personal-info__item-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
}
@media (max-width: 1199.98px) {
  .personal-info__item-left {
    width: 40px;
    height: 40px;
    border-radius: 6px;
  }
}
.personal-info__item-left:hover {
  background: linear-gradient(97deg, #fa5252, #dd2476);
}
.personal-info__item-left:hover img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(0%) hue-rotate(152deg) brightness(114%) contrast(100%);
}
.personal-info__item-phone {
  filter: brightness(0) saturate(100%) invert(27%) sepia(47%) saturate(4508%) hue-rotate(315deg) brightness(93%) contrast(84%);
}
.personal-info__item-email {
  filter: brightness(0) saturate(100%) invert(74%) sepia(38%) saturate(316%) hue-rotate(134deg) brightness(86%) contrast(87%);
}
.personal-info__item-location {
  filter: brightness(0) saturate(100%) invert(57%) sepia(19%) saturate(1319%) hue-rotate(296deg) brightness(96%) contrast(97%);
}
.personal-info__item-calendar {
  filter: brightness(0) saturate(100%) invert(57%) sepia(13%) saturate(2365%) hue-rotate(224deg) brightness(101%) contrast(87%);
}
.personal-info__item-phone, .personal-info__item-email, .personal-info__item-location, .personal-info__item-calendar {
  transition: filter 0.25s;
}
.personal-info__item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.personal-info__item-title {
  font-size: 1.4rem;
}
@media (max-width: 1199.98px) {
  .personal-info__item-title {
    font-size: 1.3rem;
  }
}
.personal-info__item-desc {
  font-size: 1.6rem;
}
@media (max-width: 1199.98px) {
  .personal-info__item-desc {
    font-size: 1.5rem;
  }
}
.personal-info__item-separate {
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  margin: 15px 0;
}

.text-right {
  text-align: right;
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .text-right {
    margin-top: 40px;
    text-align: initial;
  }
}

.navbar {
  display: inline-block;
  width: 521px;
  height: 120px;
  background: #fff;
  border-radius: 16px;
}
@media (max-width: 1199.98px) {
  .navbar {
    width: 480px;
    height: 110px;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .navbar {
    height: 85px;
  }
}
.navbar__list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
  font-size: 1.6rem;
  background: #f3f6f6;
  border-radius: 12px;
  gap: 15px;
  user-select: none;
  transition: color 0.25s;
}
@media (max-width: 1199.98px) {
  .navbar__item {
    width: 70px;
    height: 70px;
    font-size: 1.4rem;
    gap: 10px;
  }
}
@media (max-width: 575.98px) {
  .navbar__item {
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
    gap: 5px;
  }
}
.navbar__item--active {
  color: #fff;
  border-radius: 12px;
  background: linear-gradient(97deg, #fa5252, #dd2476);
}
.navbar__item--active .navbar__icon {
  filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(0%) hue-rotate(152deg) brightness(114%) contrast(100%);
}
.navbar__item:not(.navbar__item--active):hover {
  color: #fff;
  border-radius: 12px;
  background: linear-gradient(97deg, #fa5252, #dd2476);
  cursor: pointer;
}
.navbar__item:not(.navbar__item--active):hover .navbar__icon {
  filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(0%) hue-rotate(152deg) brightness(114%) contrast(100%);
}
.navbar__icon {
  transition: filter 0.25s;
}
@media (max-width: 575.98px) {
  .navbar__icon {
    width: 18px;
    height: 18px;
  }
}

.contents {
  padding-bottom: 60px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.content {
  display: none;
}
.content--active {
  display: block;
}
.content-wrap {
  padding: 60px 60px 0 60px;
}
@media (max-width: 1399.98px) {
  .content-wrap {
    padding: 60px 30px 0 30px;
  }
}
@media (max-width: 1199.98px) {
  .content-wrap {
    padding: 60px 20px 0 20px;
  }
}
.content-wrap + .content-wrap {
  padding: 0 60px 0 60px;
}
@media (max-width: 1399.98px) {
  .content-wrap + .content-wrap {
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 1199.98px) {
  .content-wrap + .content-wrap {
    padding: 0 20px 0 20px;
  }
}
.content__sub-heading-2 {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 35px;
  font-size: 4rem;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}
.content__sub-heading-2:after {
  content: "";
  position: absolute;
  width: 219px;
  height: 3px;
  background: linear-gradient(97deg, #fa5252, #dd2476);
  border-radius: 5px;
  left: 145px;
}
.content__sub-heading-2--resume:after {
  left: 180px;
}
@media (max-width: 575.98px) {
  .content__sub-heading-2 {
    font-size: 2.5rem;
  }
  .content__sub-heading-2::after {
    width: 170px;
    left: 130px;
  }
  .content__sub-heading-2--resume:after {
    width: 170px;
    left: 130px;
  }
}
.content__sub-heading-3 {
  margin-bottom: 30px;
  font-size: 2.4rem;
}
.content__sub-heading-4 {
  margin-bottom: 10px;
  font-size: 1.9rem;
  line-height: 1.7;
  font-weight: 500;
}
@media (max-width: 1399.98px) {
  .content__sub-heading-4 {
    font-size: 1.7rem;
  }
}
@media (max-width: 1199.98px) {
  .content__sub-heading-4 {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.content__desc {
  margin-bottom: 30px;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #44566c;
}
@media (max-width: 1399.98px) {
  .content__desc {
    font-size: 1.5rem;
  }
}
.content__desc:last-child {
  margin-bottom: 30px;
}

.content-what-i-do__item {
  display: flex;
  height: 100%;
  padding: 20px;
  gap: 20px;
  background: #eef5fa;
  border-radius: 12px;
}
@media (max-width: 1399.98px) {
  .content-what-i-do__item {
    padding: 18px;
    gap: 15px;
  }
}
.content-what-i-do__item--color {
  background: #fff4f4;
}
.content-what-i-do__item-left-wrap-design {
  filter: brightness(0) saturate(100%) invert(46%) sepia(64%) saturate(612%) hue-rotate(233deg) brightness(101%) contrast(104%);
}
.content-what-i-do__item-left-wrap-security {
  filter: brightness(0) saturate(100%) invert(61%) sepia(20%) saturate(1510%) hue-rotate(70deg) brightness(95%) contrast(92%);
}
.content-what-i-do__item-left-wrap-code {
  filter: brightness(0) saturate(100%) invert(70%) sepia(44%) saturate(5870%) hue-rotate(190deg) brightness(101%) contrast(105%);
}
.content-what-i-do__item-left-wrap-database {
  filter: brightness(0) saturate(100%) invert(59%) sepia(26%) saturate(1517%) hue-rotate(9deg) brightness(99%) contrast(101%);
}
.content-what-i-do__item-left-wrap-integrate {
  filter: brightness(0) saturate(100%) invert(45%) sepia(55%) saturate(1591%) hue-rotate(314deg) brightness(101%) contrast(89%);
}
.content-what-i-do__item-left-wrap-learn {
  filter: brightness(0) saturate(100%) invert(25%) sepia(10%) saturate(6296%) hue-rotate(194deg) brightness(107%) contrast(103%);
}
@media (max-width: 1399.98px) {
  .content-what-i-do__item-left-wrap-design, .content-what-i-do__item-left-wrap-security, .content-what-i-do__item-left-wrap-code, .content-what-i-do__item-left-wrap-database, .content-what-i-do__item-left-wrap-integrate, .content-what-i-do__item-left-wrap-learn {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 1199.98px) {
  .content-what-i-do__item-left-wrap-design, .content-what-i-do__item-left-wrap-security, .content-what-i-do__item-left-wrap-code, .content-what-i-do__item-left-wrap-database, .content-what-i-do__item-left-wrap-integrate, .content-what-i-do__item-left-wrap-learn {
    width: 25px;
    height: 25px;
  }
}
.content-what-i-do__item-right-desc {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #44566c;
}
@media (max-width: 1399.98px) {
  .content-what-i-do__item-right-desc {
    font-size: 1.5rem;
  }
}
.content-what-i-do__item-right-desc + .content-what-i-do__item-right-desc {
  margin-top: 10px;
}

.resume__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
.resume__title-left-icon {
  filter: brightness(0) saturate(100%) invert(59%) sepia(66%) saturate(1147%) hue-rotate(316deg) brightness(95%) contrast(99%);
}
.resume__title-right {
  font-size: 2.6rem;
  font-family: 500;
}
@media (max-width: 1399.98px) {
  .resume__title-right {
    font-size: 2.4rem;
  }
}
.resume__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eef5fa;
  padding: 20px;
  border-radius: 12px;
}
.resume__card--color {
  background: #fff4f4;
}
.resume__card-exp {
  display: block;
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 17px;
}
.resume__card-sub-heading {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #0f172a;
  margin-bottom: 17px;
}
.resume__card-desc {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 0;
}
.resume__card + .resume__card {
  margin-top: 30px;
}
@media (max-width: 1399.98px) {
  .resume__card + .resume__card {
    margin-top: 15px;
  }
}

.header {
  margin-bottom: 240px;
}
.header-wrap {
  padding: 20px;
  border-radius: 12px;
}
.header-logo {
  flex: 0 0 auto;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__row {
  padding: 25px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  background: #f8fbfb;
}

.logo__text {
  padding-left: 10px;
  font-size: 4.3rem;
  font-weight: 700;
  font-family: "Marck Script", sans-serif;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(180deg, var(--gradient-to), var(--gradient-from));
}

/*# sourceMappingURL=main.css.map */
