.logo {
    &__text {
        padding: 10px;
        font-size: 4.3rem;
        font-weight: 700;
        font-family: 'Marck Script', sans-serif;
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(180deg, var(--gradient-to), var(--gradient-from));
    }
}